* {
    margin: 1;
    padding: 1;
    user-select: none;
}

.info {
    position: absolute;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    background-color: white;
}

input {
    width: 250px;
    height: 46px;
    border: 1px solid black;
    font-size: 20px;
}

input::placeholder {
    color: #444547;
}

select {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}

button {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    background-color: #226fff52;
    font-size: 20px;
    cursor: pointer;
}

section {
    width: 100%;
    height: 50%;
    margin-top: 10vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
}

section>div {
    width: 225px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.wind-arrow {
    width: 30px;
    height: 10px;
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 125px;
    filter: brightness(0.85);
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        margin-top: 10vh;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        gap: 5px;
        background-color: #226fff52;
    }
}

@media screen and (max-width:600px) {

    input {
        width: 20%;
        height: 46px;
        border: 1px solid black;
        font-size: 15px;
        border-radius: 20px;
        text-transform: capitalize;
    }

    select {
        width: 20%;
        height: 50px;
        border: 1px solid black;
        font-size: 15px;
        cursor: pointer;
        border-radius: 20px;
    }

    button {
        width: 20%;
        height: 50px;
        border: 1px solid black;
        background-color: #226fff52;
        font-size: 20px;
        cursor: pointer;
        border-radius: 20px;
    }

    .info {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
        background-color: white ;
    }

    .container {
        width: 100%;
        margin-top: 40%;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 5px;
        background-color: #226fff52;
    }
}

@media screen and (800px<=width<=900px) {

    input {
        width: 20%;
        height: 46px;
        border: 1px solid black;
        font-size: 15px;
        border-radius: 20px;
        text-transform: capitalize;
    }

    select {
        width: 20%;
        height: 50px;
        border: 1px solid black;
        font-size: 15px;
        cursor: pointer;
        border-radius: 20px;
    }

    button {
        width: 20%;
        height: 50px;
        border: 1px solid black;
        background-color: #226fff52;
        font-size: 20px;
        cursor: pointer;
        border-radius: 20px;
    }

    .info {
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
        background-color: white ;
    }

    .container {
        width: 100%;
        margin-top: 17%;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        gap: 5px;
        background-color: #226fff52;
    }
}